<a href="https://colab.research.google.com/github/lje1343/ai/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
''' 
작성자 : 홍길동
작성일 : 2022-01-25
버전 : 0.1
'''

"""
작성자 : 홍길동
작성일 : 2022-01-25
버전 : 0.1
Doc String
"""

# 보통 삼중 따옴표 주석은
# 여러줄을 주석으로 사용할 때 사용한다.

# 주석 붙이는 위치
print('Hello World') # 보통 행의 우측 또는 위에 주석을 붙인다.

################
# 변수 Variable
################

score = 200

print(score)

score = 300

print(score)

Hello World

In [ ]:
1a = 'h1'
print(1a)

In [10]:
a1 = 'h1'
print(a1)

h1

In [11]:
a = 20
b = 1500

student_avg = 20
math_sum = 1500

20

In [13]:
name = 'Alice'
age = 25
address = '''우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호'''
boyfriend = None
height = 168.5

print(name)
print(age)
print(address)
print(boyfriend)
print(height)

Alice
25
우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호
None
168.5

In [16]:
################
# 기본 자료형 type
################

a = int(1.9)
print(a)

b = int(True)
print(b)

b = int(False)
print(b)

c = int(False)
print(c)

1
1
0
0

In [24]:
a = 100
b = '100'
print(type(a))
print(type(b))

print(a)
print(b)
print(a==b)

c = int(b)
print(type(c))
print(a==c)

<class 'int'>
<class 'str'>
100
100
False
<class 'int'>
True

In [28]:
# 실수 float

a = float(1)
print(a)

b = float(True)
print(b)

c = float('3.14')
print(c)

1.0
1.0
3.14

In [29]:
# bool 논리 True or False

a = bool(0)
print(a)

b = bool()
print()

c = bool([])
print(c)

d = bool([100])
print(d)

False

False
True

In [31]:

############
# 문자열 String
############

a = '대한민국'
a = "대한민국"

b = str(100)
print(b)
print(type(b))

c = str(True)
print(c)
print(type(c))

100
<class 'str'>
True
<class 'str'>

In [38]:
# 문자열 인덱싱

# hello 파이썬은 0에서 시작한다.

s = 'Hello'
print(s[4])

print(s[-1])
print(s[-5] == s[0])

o
o
True

In [42]:
ss = "990211-1005432"
print(ss[0:2]) # 0 번째부터 2번째 미만까지...[start:stop:step]
print(ss[0:2]) # step 은 생략 가능...
print(ss[0:10:2])

99
99
901-0

In [44]:
#print

print('Hello 'World'')

SyntaxError: ignored

In [45]:
print("Hello 'World'")

Hello 'World'

In [49]:
print('Hello \'World\'')
print("Hello \"World\"")
print('Hello "World"')

Hello 'World'
Hello "World"
Hello "World"

In [50]:
print('Hello\n "World"')

Hello
 "World"

In [51]:
print("이름 \n 전화")

이름
 전화

In [52]:
print("이름 \t 연락처")
print('홍길동 \t010-2020-2903')

이름 	 연락처
홍길동 	010-2020-2903

In [53]:
print('재미있는 ',' 파이썬')

재미있는   파이썬

In [59]:
print('평점', end=':')
print('5점')

평점:5점

In [62]:
print('국어','영어','수학')
print('국어','영어','수학', sep = '/')
print('국어','영어','수학', sep = ', ')
print('국어','영어','수학', sep = '\n')
print('\n국어\n영어\n수학')

국어 영어 수학
국어/영어/수학
국어, 영어, 수학
국어
영어
수학

국어
영어
수학

In [67]:
# %연산자

print(10)
print('%d' % 10)  # %d decimal 정수
print('%f' % 3.14)  # %f float 실수
print('%s' % '학생') #%s string 문자열

print('%d 을 입력하세요.' % 10)  # %d decimal 정수
print('원주율은 %f 입니다.' % 3.14)  # %f float 실수
print('저는 %s 입니다.' % '학생') #%s string 문자열

print('%d을 입력하세요' % 10)
print('%s을 입력하세요' % 10)
print('원주율은 %f 입니다.' % 3.14)
print('원주율은 %s 입니다.' % 3.14)
std = "대학생"
print('저는 %s 입니다.' % std)
print('저는', std, '입니다')

10
10
3.140000
학생
10 을 입력하세요.
원주율은 3.140000 입니다.
저는 학생 입니다.
10을 입력하세요
10을 입력하세요
원주율은 3.140000 입니다.
원주율은 3.14 입니다.
저는 대학생 입니다.
저는 대학생 입니다

In [71]:
print("%d" % 1)
print("%5d" % 1)
print("%-5d" % 1)
print("%5d" % 11)
print("%-5d" % 11)

1
    1
1
   11
11

In [80]:
print('원주율은 %f 입니다.' % 3.14)
print('원주율은 %5.2f 입니다.' % 3.14)
print('원주율은 %5.1f 입니다.' % 3.14)
print('원주율은 %-5.1f 입니다.' % 3.14)
print('원주율은 %.2f 입니다.' % 3.14)

원주율은 3.140000 입니다.
원주율은  3.14 입니다.
원주율은   3.1 입니다.
원주율은 3.1   입니다.
원주율은 3.14 입니다.

In [81]:
name = 'kai'
print('내 이름은 %s입니다.' % name)

내 이름은 kai입니다.

In [83]:
height = 185.5
print('내 키는 %.1f입니다.' % height)
print('내 키는 %s입니다.' % height)
print('내 키는 %s이고 이름은 %s입니다' % (height))

내 키는 185.5입니다.
내 키는 185.5입니다.

In [86]:
#format()

zipcode = '06236'
print('우편번호 : %s' % zipcode)
print('우편번호 : {}'.format(zipcode))

우편번호 : 06236
우편번호 : 06236

In [89]:
print('My name is {}. l\'m{} years old'.format('James', 25))
print('My name is {1}. l\'m{0} years old'.format('James', 25))
print('My name is {name}. l\'m{age} years old'.format(age=25, name='James'))

My name is James. l'm25 years old
My name is 25. l'mJames years old
My name is James. l'm25 years old

In [90]:
# f-stings
# 파이썬 3.6 이후 부터 사용 가능

who = 'you'
how = 'happy'
print(f'{who} make me {how}')

you make me happy

In [91]:
age = 25
print(f'내년에는 {age+1} 입니다.')

내년에는 26 입니다.

In [94]:
################
# 입력 input()
################

n = input()
print(f'당신이 입력한 내용은 {n} 입니다.')
print('당신이 입력한 내용은', n, '입니다.')

ㅇ
당신이 입력한 내용은 ㅇ 입니다.
당신이 입력한 내용은 ㅇ 입니다.

In [95]:
n = input('당신의 나이를 입력하세요.')
print(f'당신의 나이는 {n} 입니다.')
print('당신이 나이는', n, '입니다.')

당신의 나이를 입력하세요.20
당신의 나이는 20 입니다.
당신이 나이는 20 입니다.

In [105]:
n = input('이름을 입력하세요.')
m = int(input('나이를 입력하세요.'))

#1.기본
print('당신의 이름은', n, '이고 나이는', m, '입니다.')
#2.f-string
print(f'당신의 이름은 {n}이고 나이는 {m} 입니다.')
#3.format()
print('당신의 이름은 {}이고 나이는 {} 입니다.'.format(n, m))
#4.% 연산자
print('당신의 이름은 %s이고 나이는 %d 입니다.' % (n, m))

print(name, type(n))
print(age, type(m))

이름을 입력하세요.이지은
나이를 입력하세요.24
당신의 이름은 이지은 이고 나이는 24 입니다.
당신의 이름은 이지은이고 나이는 24 입니다.
당신의 이름은 이지은이고 나이는 24 입니다.
당신의 이름은 이지은이고 나이는 24 입니다.
kai <class 'str'>
25 <class 'int'>

In [123]:
m = int(input('할부 개월 입력 : '))
n = round(50000/m,2)
print('%d 개월 동안 매달 내는 금액은 %d 입니다.' % (m, n))
print(m,'개월 동안 매달 내는 금액은', n ,'입니다.')
print('{} 개월 동안 매달 내는 금액은 {} 입니다.'.format(m, n))
print(f'{m} 개월 동안 매달 내는 금액은 {n} 입니다.')

할부 개월 입력 : 3
3 개월 동안 매달 내는 금액은 16666 입니다.
3 개월 동안 매달 내는 금액은 16666.67 입니다.
3 개월 동안 매달 내는 금액은 16666.67 입니다.
3 개월 동안 매달 내는 금액은 16666.67 입니다.

In [125]:
n = float(input('실수1:'))
m = float(input('실수2:'))
sum = n + m
#1.기본
print( n, '과 ', m, '의 합계는 ', sum)
#2.f-string
print(f'{n}과  {m} 의 합계는 {sum}입니다.')
#3.format()
print('{}과 {}의 합계는 {}입니다'.format(n, m, sum))
#4.% 연산자
print(' %f 과 %f의 합계는 %f입니다.' % (n, m, sum))

실수1:3.4
실수2:2.4
3.4 과  2.4 의 합계는  5.8
3.4과  2.4 의 합계는 5.8입니다.
3.4과 2.4의 합계는 5.8입니다
 3.400000 과 2.400000의 합계는 5.800000입니다.