<a href="https://colab.research.google.com/github/lje1343/ai/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
##############################
#Review
##############################

# collection  : 많은 데이터(elements)를 저장하는...

# 리스트 list          튜플 tuple         딕셔너리 dict         셋 set
# []                   ()                 {}                    {}
# mutable              immutable           mutable              mutable
# indexing/slicing     indexing/slicing    nope                 nope
#                      (1,)                {Key:Value}          중복데이터 미허용
#                                          자바의 map, JS json  중복제거


#List
list1 = [1,2,3,4,5]
list2 = [2,3,'하나','둘',True,False]

print(list1[0])   #indexing
print(list2[2:4])  #slicing[시작:끝(미만)]

list1[0] = 9
print(list1)

print(list1*3)

list1.append(8) #append()는 마지막에 넣는다
print(list1)

list1.insert(0, 10) #특정 위치를 지정하여 삽입

1
['하나', '둘']
[9, 2, 3, 4, 5]
[9, 2, 3, 4, 5, 9, 2, 3, 4, 5, 9, 2, 3, 4, 5]
[9, 2, 3, 4, 5, 8]

In [19]:
list3 = list1
print(list1)
print(list3)
#id : 실제 메모리의 위치
print(id(list1))
print(id(list3))

del list3[0]

print(list1)
print(list3)

#변수는 실제로 닮아있지 않고, 메모리의 위치를 가리킨다.(99점)
# list1 ---------> [9, 2, 3, 4, 5, 8] <--------- list3 (100점)

list4 = list1.copy()

print(list1)
print(list4)
print(id(list1))
print(id(list4))
del list4[0]

print(list1)
print(list4)

[4, 5, 8]
[4, 5, 8]
140080918612640
140080918612640
[5, 8]
[5, 8]
[5, 8]
[5, 8]
140080918612640
140080849123200
[5, 8]
[8]

In [9]:
t1 = ('대한','민국')
print(type(t1))

t2 = (1,)
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [11]:
# t1[0] = '만세'
t1[0]
# t1.pop()

AttributeError: ignored

In [15]:
#Dict

dict = {
    'key':'value'
}

print(dict)
print(dict['key'])

dict['newkey'] = 'ai'
print(dict)

del dict['key']
print(dict)

{'key': 'value'}
value
{'key': 'value', 'newkey': 'ai'}
{'newkey': 'ai'}

In [17]:
#Set

set = {1,1,2,2,2,3}
print(set)

# print(set[0])

{1, 2, 3}

TypeError: ignored

In [23]:
########################
# if 조건문
########################

# if 조건식(True or False):
#     True일 경우 실행
# else:
#     False일 경우 실행

if False:
  print('True')
else:
  print('False')

if False:
  print('1st')
elif False:
  print('2nd')
elif True:
  print('3rd')
else:
  print('etc')

score = 80

if score >= 100:
  print('상')
else:
  if score >= 50:
    print('중')
  else:
    print('하')

if score >= 100:
  print('상')
elif score >= 50:
    print('중')
else:
    print('하')

False
3rd
중
중

In [41]:
score = int(input('당신의 점수를 입력하세요 >> '))

if score >= 90:
  gr = "A"
elif score >= 80:
  gr = "B"
elif score >= 70:
  gr = "C"
elif score >= 60:
  gr = "D"
else:
  gr = "F"

if int(score%10) >= 7:
  de = '+'
elif int(score%10) >= 4:
  de = 'O'
else:
  de = '-'
print(f'당신의 점수는 {score}이며 학점은 {gr}{de}입니다.')

당신의 점수를 입력하세요 >> 100
당신의 점수는 100이며 학점은 A-입니다.

In [44]:
a = input('입력하세요 >>')

print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

입력하세요 >>55
55
<class 'str'>
55
<class 'int'>

In [46]:
######################
# while
################3#####

# 반복문은 작업 수행을 한번이 아니라 계속해서 수행해야 할 때 사용한다.
# while 반복 작업을 몇 번 수행할지 확실하지 않을 때 주로 사용한다.
# '운동장을 해가 질때까지 반복해서 돌자'

#while 조건식:
#   실행구문

# while True:
#   print('운동장 돌기')

In [49]:
n = 1
while n <= 10:
  print(n)
  n = n + 1

print('----------')
print(n)

1
2
3
4
5
6
7
8
9
10
----------
11

In [ ]:
n = 1
while n <= 10:
  print(n)
  n += 1  #n = n + 1  (자바 n++)

print('----------')
print(n)

In [52]:
n = 10
while n>=1:
  if n%2 ==0:
    print(n)
  n -=1
  #n-=2

10
8
6
4
2

In [70]:
list = []
no = 1
while no!=0:
  no = int(input('정수를 입력하세요 >> '))
  
  if no != 0:
    list.append(no)
 
print(list)

정수를 입력하세요 >> 2
정수를 입력하세요 >> 3
정수를 입력하세요 >> 0
[2, 3]

In [99]:
#while 중첩
# while 내부에 또 다른 while을 사용하는 것을 중첩이라고 한다.

day = 1

while day <= 3:
  hour = 1
  while hour <= 3:
    print(f'{day}일차 {hour}교시입니다.')
    hour+=1
  day+=1

1일차 1교시입니다.
1일차 2교시입니다.
1일차 3교시입니다.
2일차 1교시입니다.
2일차 2교시입니다.
2일차 3교시입니다.
3일차 1교시입니다.
3일차 2교시입니다.
3일차 3교시입니다.

In [106]:
dan=2
while dan<=9:
  n = 1
  while n<=9:
    print(f'{dan} x {n} = {dan*n}')
    n+=1
  dan+=1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [126]:
no = int(input('정수를 입력하세요 >> '))
num = 1

if no <= 0:
  print('잘못된 입력입니다')


while no>0:
  print(f'{num}번째 Hello')
  no-=1
  num+=1

정수를 입력하세요 >> 3
1번째 Hello
2번째 Hello
3번째 Hello

In [137]:
n = 1

while n<101:
  if n%7==0:
      print(n)
  n+=1

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [169]:
m = int(input('자판기에 얼마를 넣을까요? >> '))
cnt = 1

if m<300:
  print(f'잔돈 {m}원')

while m>=300:
  if m%300>=0:
    m-=300
    print(f'커피 {cnt}잔, 잔돈 {m}원')
    cnt+=1

자판기에 얼마를 넣을까요? >> 1400
커피 1잔, 잔돈 1100원
커피 2잔, 잔돈 800원
커피 3잔, 잔돈 500원
커피 4잔, 잔돈 200원

In [184]:
cnt=0
arr = []

while True:
  n = int(input('0~9 사이 정수를 입력하세요 >> '))
  if n not in arr:
    arr.append(n)
    cnt +=1
  if cnt==5:
    break

print(f'5개의 고유한 정수가 모두 입력되었습니다.\n입력된 값은 {arr}입니다')

0~9 사이 정수를 입력하세요 >> 1
0~9 사이 정수를 입력하세요 >> 2
0~9 사이 정수를 입력하세요 >> 3
0~9 사이 정수를 입력하세요 >> 4
0~9 사이 정수를 입력하세요 >> 5
5개의 고유한 정수가 모두 입력되었습니다.
입력된 값은 [1, 2, 3, 4, 5]입니다

In [ ]:
num = set([])

while len(num) <= 4:
  no = int(input('0~9 사이 정수를 입력하세요 >> '))
  num.add(no)
  print(num)

print(num)

In [234]:
n=1
cnt=1

while n<101:
  while cnt<11:
      print(n,end='\t')
      cnt+=1
      n+=1
  cnt=1
  print()

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100

In [245]:
##########
# for
##########
# 몇 번 반복시킬지 그 횟수가 명확할때 주로 사용한다.

# for 변수 in 반복시킬값들:
#   반복실행문

# 리스트
# for i in [1,2,3]:
#   print(i)

# # 문자열
# for i in 'hello':
#   print(i)

# # 튜플
# for i in (1,2,3):
#   print(i)

# range()
for i in range(1,4,2):  #range(시작(생략가능), 끝(미만), 스탭(생략가능))
  print(i)

#set, dict는 순서와 상관 없이는 사용 가능

1
3

In [256]:
pw = input('비밀 번호를 입력하세요>>')

for i in pw:
  if pw.isalpha() == True:
    print('불가능한 비번입니다')
    break
  elif pw.isnumeric() == True:
    print('불가능한 비번입니다')
    break
  else:
    print('사용 가능한 비번입니다')
    break

비밀 번호를 입력하세요>>asd123
사용 가능한 비번입니다

In [261]:
pw = input('비밀 번호를 입력하세요>>')
ch_cnt = 0
no_cnt = 0

for ch in pw:
  if ch.isalpha():
    ch_cnt += 1
  elif ch.isnumeric():
    no_cnt += 1
  
if ch_cnt > 0 and no_cnt > 0:
  print('사용 가능한 비번입니다.')
else:
  print('사용 불가한 비번입니다.')

비밀 번호를 입력하세요>>asd123
사용 가능한 비번입니다.

In [264]:
# range([start], stop, [step])

# 1. 숫자들을 컬렉션으로 만든다
# 2. start를 생략하면 0부터 시작한다
# 3. stop은 생략할 수 없다
# 4. step을 생략하면 1씩 증가한다

range(5)

range(0, 5)

In [4]:
n = int(input('출력할 구구단을 입력하세요>> '))

for i in range(1,10,1):
  print(f'{n} x {i} = {n*i}')

출력할 구구단을 입력하세요>> 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [10]:
#set, dict도 for문으로 사용은 가능하나 순서는 보장하지 않는다.

for i in {'가위','바위','보'}:
  print(i)

가위
바위
보

In [12]:
person = {
    'name':'에밀리',
    'age':'20'
}

for i in person:
  print(i)

for i in person:
  print(person[i])

name
age
에밀리
20

In [27]:
n = int(input('임의의 양수를 입력하세요>> '))
sum=0

for i in range(n):
  sum+=n
  n-=1

print(f'1부터 {n}사이의 모든 정수의 합계는 {sum}입니다')

임의의 양수를 입력하세요>> 100
1부터 0사이의 모든 정수의 합계는 5050입니다

In [32]:
n = int(input('몇개의 과일을 보관할까요? >> '))
basket = []

for i in range(n):
  f = input(f'{i}번째 과일을 입력하세요 >>')
  basket.append(f)

print(f'입력받은 과일들은 {basket}입니다')

몇개의 과일을 보관할까요? >> 2
0번째 과일을 입력하세요 >>사과
1번째 과일을 입력하세요 >>바나나
입력받은 과일들은 ['사과', '바나나']입니다

In [ ]:
no = int(input('몇개의 과일을 보관할까요? >> '))

for i in range(1, no+1):
  fruit = input(f'{i}번째 과일을 입력하세요')

In [47]:
# 5/2 = 2.5  파이썬은 자바와 달리 실수값을 준다
# 5//2 = 2

i=1
sp=0
while i<= 99:
    if sp ==10:
      print()
      sp=0

    cnt=0
    a = i // 10
    b = i % 10
    sp+=1

    if a != 0 and a % 3 == 0:
      cnt+=1
    if b != 0 and b % 3 == 0:
      cnt+=1

    if cnt==2:
      print("짝짝",end="\t")
    elif cnt==1:
      print("짝",end="\t")
    else:
      print(i,end="\t")

    i+=1

1	2	짝	4	5	짝	7	8	짝	10
11	12	짝	14	15	짝	17	18	짝	20
21	22	짝	24	25	짝	27	28	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝	40
41	42	짝	44	45	짝	47	48	짝	50
51	52	짝	54	55	짝	57	58	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝	70
71	72	짝	74	75	짝	77	78	짝	80
81	82	짝	84	85	짝	87	88	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝